/* Efek kartu kiri & kanan menyatu ke tengah secara natural */

.not-revealed>*:nth-child(odd) {
  opacity: 0;
  transform: translate3d(-35px, 20px, 0) scale(0.96);
  filter: blur(6px);
}

.not-revealed>*:nth-child(even) {
  opacity: 0;
  transform: translate3d(35px, 20px, 0) scale(0.96);
  filter: blur(6px);
}

.is-revealed>* {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
  filter: blur(0px);
  transition: opacity 800ms cubic-bezier(0.16, 1, 0.3, 1), transform 800ms cubic-bezier(0.16, 1, 0.3, 1), filter 800ms cubic-bezier(0.16, 1, 0.3, 1);
}


/* Delay berantai agar kartu muncul bergantian */

.is-revealed>*:nth-child(1) {
  transition-delay: 50ms;
}

.is-revealed>*:nth-child(2) {
  transition-delay: 150ms;
}

.is-revealed>*:nth-child(3) {
  transition-delay: 250ms;
}

.is-revealed>*:nth-child(4) {
  transition-delay: 350ms;
}

.is-revealed>*:nth-child(5) {
  transition-delay: 450ms;
}

.is-revealed>*:nth-child(6) {
  transition-delay: 550ms;
}
